.contents {

  .twitter_icon {
    margin-left: 50px;

    i {
      font-size: 40px; 
    }
  }
  ul.show {
    display: block;
  }
  
  ul {
    display: none;

    .content {
      height: 600px;
    
      .col {
        width: 95% !important;
        margin-left: 40px !important;
    
        .card {
          height: 100%;
          width: 90% !important;
          margin: 0;
     
          .card-content {
            height: 100% !important;
    
            p {
              font-size: 22px; 
            }
          }
        }
      } 
    }
  } 
}

// タブメニュー
.tab-menu {
  margin-left: 51px;

  li.active {
    background-color: #607d8b;
    color: rgba(0, 0, 0, 0.87) !important;
  }

  li {
    height: 60px;
    width: 100px;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    background-color: #f06292;
    float: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
  }
}

//.contents {
//  ul {
//    display: none; 
//  }
//
//  ul.show {
//    display: block;
//  }
//}
//
//.clearfix::after{
//  content: "";
//  display: block;
//  clear: both;
//}
